.features
  .features-container.container
    .features__title Mars
    .features__info
      .features__info-item
        .features__info-item-text Million km of earth
        .features__info-item-val
          p 55
      .features__info-item
        .features__info-item-text Temperature on the planet
        .features__info-item-val
          p 153
            span Â°C
      .features__info-item
        .features__info-item-text Ğf the mass of the Earth
        .features__info-item-val
          p 10,7
            span %