header.header
  .header-container.container
    .header__img
      //- img(src="assets/images/header/mars.png", alt="mars", srcset="assets/images/header/mars-2.png, assets/images/header/mars-3.png")
    .header__descr
      .header__title Mars
      .header__info
        .header__info-item
          .header__info-item-text Million km of earth
          .header__info-item-val
            p 55
        .header__info-item
          .header__info-item-text.header__info-item-text_minus Temperature on the planet
          .header__info-item-val.header__info-item-val_minus
            p 153
              span Â°C
        .header__info-item
          .header__info-item-text Ğf the mass of the Earth
          .header__info-item-val
            p 10,7
              span %
