.popup
	//- .popup__close
	//- .popup__navigate
	//- 	.popup__navigate-item.popup__navigate-item_prev
	//- 	.popup__navigate-item.popup__navigate-item_next
	.popup-container.container
		.popup__wrap
			.popup__close
			.popup__img
				img(src="", alt="")
			.popup__navigate
				.popup__navigate-item.popup__navigate-item_prev
				.popup__navigate-item.popup__navigate-item_next