.photos
	.photos-container.container
		.photos__items
			.photos__item(data-id="1")
				img(src="assets/images/photos/photo-1.jpg", alt="mars", srcset="")
			.photos__item(data-id="2")
				img(src="assets/images/photos/photo-2.jpg", alt="mars", srcset="")
			.photos__item(data-id="3")
				img(src="assets/images/photos/photo-3.jpg", alt="mars", srcset="")
			.photos__item(data-id="4")
				img(src="assets/images/photos/photo-4.jpg", alt="mars", srcset="")
			.photos__item(data-id="5")
				img(src="assets/images/photos/photo-5.jpg", alt="mars", srcset="")
			.photos__item(data-id="6")
				img(src="assets/images/photos/photo-6.jpg", alt="mars", srcset="")
			.photos__item(data-id="7")
				img(src="assets/images/photos/photo-7.jpg", alt="mars", srcset="")
			.photos__item(data-id="8")
				img(src="assets/images/photos/photo-8.jpg", alt="mars", srcset="")
			.photos__item(data-id="9")
				img(src="assets/images/photos/photo-9.jpg", alt="mars", srcset="")
			.photos__item(data-id="10")
				img(src="assets/images/photos/photo-10.jpg", alt="mars", srcset="")