+descr("","Curiosity <br>Rover", "With its rover named Curiosity, Mars Science Laboratory mission is part of NASA's Mars Exploration Program, a long-term effort of robotic exploration of the red planet. Curiosity was designed to assess whether Mars ever had an environment able to support small life forms called microbes. In other words, its mission is to determine the planet's 'habitability.'")

//- .description
//- 	.description-container.container
//- 		//- .description__title
//- 		.description__box
//- 			.description__title Curiosity <br>Rover </span> <span class="description__text">With its rover named Curiosity, Mars Science Laboratory mission is part of NASA's
//- 				| Mars Exploration Program, a long-term effort of robotic exploration of the red planet.
//- 				| Curiosity was designed to assess whether Mars ever had an environment able to support
//- 				| small life forms called microbes. In other words, its mission is to determine the planet's
				| "habitability."</span>

//- p <span class="description__title">Curiosity Rover</span> <span class="description__text">With its rover named Curiosity, Mars Science Laboratory mission is part of NASA's
//- 	| Mars Exploration Program, a long-term effort of robotic exploration of the red planet.
//- 	| Curiosity was designed to assess whether Mars ever had an environment able to support
//- 	| small life forms called microbes. In other words, its mission is to determine the planet's
//- 	| "habitability."</span>

//- .description__text
//- 	p With its rover named Curiosity, Mars Science Laboratory mission is part of NASA's
//- 		| Mars Exploration Program, a long-term effort of robotic exploration of the red planet.
//- 		| Curiosity was designed to assess whether Mars ever had an environment able to support
//- 		| small life forms called microbes. In other words, its mission is to determine the planet's
//- 		| "habitability."